<template>
  <el-main>
    <router-view />
  </el-main>
</template>

<script>
export default {
  name: "AppMain",  
  key() {
    // eslint-disable-next-line no-console
    console.log(this.$route.path);
  }
};
</script>

<style></style>
