<template>
  <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
    <el-menu :default-openeds="['1', '3']">
      <el-submenu v-for="router in routes" v-bind:key="router">
        <div slot="title"><i class="el-icon-message"></i>{{ router.name }}</div>
        <el-menu-item v-for="child in router.children" :key="child">
          <router-link :to="child.path">{{ child.name }}</router-link>
        </el-menu-item>
      </el-submenu>
    </el-menu>
  </el-aside>
</template>

<script>
export default {
  name: "Sidebar",
  data() {dssadasd
    let { routes } = this.$router.options;
    return {
      routes
    };
  }
};
</script>
