<template>
  <el-container>
    <el-container>
      <Aside />
      <el-container>
        <Header />
        <AppMain />
      </el-container>
    </el-container>
  </el-container>
</template>

<script>
import { Header, Aside, AppMain } from "./common/components";

export default {
  name: "Layout",
  components: {
    Header,
    AppMain,
    Aside
  }
};
</script>

<style></style>
